<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link <%= 'active' if @view == 'both' %>" href="<%= posts_profile_path(view: 'both') %>"><%= t('profiles.posts.both') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if @view == 'recipes' %>" href="<%= posts_profile_path(view: 'recipes') %>"><%= t('profiles.posts.recipes') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if @view == 'foodstuffs' %>" href="<%= posts_profile_path(view: 'foodstuffs') %>"><%= t('profiles.posts.foodstuffs') %></a>
  </li>
</ul>

<h1><%= t('profiles.posts.title') %></h1>

<div class="row">
  <% if @view == 'both' || @view == 'recipes' %>
    <div class="col-md-6">
      <h2><%= t('profiles.posts.recipes_title') %></h2>
      <div id="user-recipes">
        <% if @recipes.present? %>
          <% @recipes.each do |recipe| %>
            <%= render partial: 'recipes/recipe', locals: { recipe: recipe } %>
          <% end %>
          <%= paginate @recipes %>
        <% else %>
          <p><%= t('profiles.posts.no_recipes') %></p>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @view == 'both' || @view == 'foodstuffs' %>
    <div class="col-md-6">
      <h2><%= t('profiles.posts.foodstuffs_title') %></h2>
      <div id="user-foodstuffs">
        <% if @foodstuffs.present? %>
          <% @foodstuffs.each do |foodstuff| %>
            <%= render partial: 'foodstuffs/foodstuff', locals: { foodstuff: foodstuff } %>
          <% end %>
          <%= paginate @foodstuffs %>
        <% else %>
          <p><%= t('profiles.posts.no_foodstuffs') %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
