<div id="<%= dom_id foodstuff %>">
  <p>
    <strong>Name:</strong>
    <%= foodstuff.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= foodstuff.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= foodstuff.description %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= foodstuff.link %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= foodstuff.image %>
  </p>

</div>
