<div id="<%= dom_id foodstuff %>" data-controller="actions">
  <p>
    <strong><%= t('activerecord.attributes.foodstuff.name') %>:</strong>
    <%= link_to foodstuff.name, foodstuff %>
  </p>

  <p>
    <% if foodstuff.image.present? %>
      <%= link_to image_tag(foodstuff.image.first.url, size: "250x250"), foodstuff %>
    <% end %>
  </p>

  <div>
    <% %w[bookmark good bat].each do |action_type| %>
      <%= turbo_frame_tag "foodstuff_#{foodstuff.id}_#{action_type}" do %>
        <% action = current_user.user_actions.find_by(action_type: action_type, actionable: foodstuff) %>
        <% if action %>
          <%= button_to "Un#{action_type.capitalize}（#{action_type == 'bookmark' ? 'ブックマーク済み' : action_type == 'good' ? 'Good済み' : 'Bat済み'}）",
            foodstuff_user_action_path(foodstuff, action),
            method: :delete, data: { turbo_frame: "foodstuff_#{foodstuff.id}_#{action_type}" }, class: "action-button" %>
        <% else %>
          <%= form_with url: foodstuff_user_actions_path(foodstuff), method: :post, data: { turbo_frame: "foodstuff_#{foodstuff.id}_#{action_type}" } do |f| %>
            <%= f.hidden_field :action_type, value: action_type, name: 'user_action_data[action_type]' %>
            <%= f.hidden_field :actionable_type, value: 'Foodstuff', name: 'user_action_data[actionable_type]' %>
            <%= f.hidden_field :actionable_id, value: foodstuff.id, name: 'user_action_data[actionable_id]' %>
            <%= f.submit "#{action_type.capitalize}（未）", class: 'action-button' %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
