<div id="<%= dom_id(foodstuff) %>" data-controller="actions">
  <p>
    <strong><%= t('activerecord.attributes.foodstuff.name') %>:</strong>
    <%= link_to foodstuff.name, foodstuff %>
  </p>

  <p>
    <%= link_to image_tag(foodstuff.image.first.url, size: "250x250"), foodstuff %>
  </p>

  <%= render partial: 'user_actions/user_action', locals: { actionable: foodstuff, action_type: 'bookmark' } %>
  <%= render partial: 'user_actions/user_action', locals: { actionable: foodstuff, action_type: 'good' } %>
  <%= render partial: 'user_actions/user_action', locals: { actionable: foodstuff, action_type: 'bat' } %>
</div>
