<%= form_with(model: foodstuff, local: true, html: { multipart: true }) do |form| %>
  <% if foodstuff.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% foodstuff.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, t('activerecord.attributes.foodstuff.name') %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price, t('activerecord.attributes.foodstuff.price') %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :description, t('activerecord.attributes.foodstuff.description') %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :link, t('activerecord.attributes.foodstuff.link') %>
    <%= form.text_field :link %>
  </div>

  <div class="field">
    <%= form.label :image, t('activerecord.attributes.foodstuff.image') %>
    <div id="foodstuff_image_preview">
      <% if foodstuff.image.present? %>
        <% foodstuff.image.each do |img| %>
          <%= image_tag img.url, style: "max-width: 300px; max-height: 300px;" %>
        <% end %>
      <% end %>
    </div>
    <%= form.file_field :image, multiple: true, onchange: "previewFoodstuffImages(event)" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
