<p style="color: green"><%= notice %></p>

<%= render @foodstuff %>

<div>
  <%= link_to t('foodstuffs.edit_foodstuff'), edit_foodstuff_path(@foodstuff) %> |
  <%= link_to t('foodstuffs.back_to_list'), foodstuffs_path %>

  <%= button_to t('foodstuffs.destroy_foodstuff'), @foodstuff, method: :delete %>
</div>
