<p style="color: green"><%= notice %></p>

<%= render @foodstuff %>

<div>
  <%= link_to t('foodstuffs.back_to_list'), root_path, class: 'btn btn-secondary' %>
  <% if current_user == @foodstuff.user %>
    <%= link_to t('foodstuffs.edit_foodstuff'), edit_foodstuff_path(@foodstuff), class: 'btn btn-primary' %>
    <%= button_to t('foodstuffs.destroy_foodstuff'), @foodstuff, method: :delete, class: 'btn btn-danger' %>
  <% end %>
</div>
