<p style="color: green"><%= notice %></p>

<div class="foodstuff-header">
  <p>
    <strong>食品名:</strong>
    <%= @foodstuff.name %>
  </p>

  <p>
    <strong>価格:</strong>
    <%= @foodstuff.price %>
  </p>

  <p>
    <strong>説明:</strong>
    <%= @foodstuff.description %>
  </p>

  <p>
    <strong>リンク:</strong>
    <%= @foodstuff.link %>
  </p>

  <p>
    <strong>写真:</strong>
    <% if @foodstuff.image.present? %>
      <% @foodstuff.image.each do |img| %>
        <%= image_tag img.url, size: "100x100" %>
      <% end %>
    <% end %>
  </p>
</div>

<div>
  <%= link_to t('foodstuffs.back_to_list'), root_path, class: 'btn btn-secondary' %>
  <% if current_user == @foodstuff.user %>
    <%= link_to t('foodstuffs.edit_foodstuff'), edit_foodstuff_path(@foodstuff), class: 'btn btn-primary' %>
    <%= button_to t('foodstuffs.destroy_foodstuff'), @foodstuff, method: :delete, class: 'btn btn-danger' %>
  <% end %>
</div>
<h2>コメント</h2>
<div id="comments">
  <%= render @foodstuff.comments %>
</div>

<%= turbo_frame_tag "new_comment" do %>
  <%= render "comments/form", commentable: @foodstuff, comment: Comment.new %>
<% end %>
