<% content_for(:title, t('foodstuffs.show.content')) %>

<!-- フラッシュメッセージ -->
<p style="color: green"><%= notice %></p>

<div class="foodstuff-header">
  <!-- 食品名 -->
  <p>
    <strong><%= t('foodstuffs.show.name') %>:</strong>
    <%= @foodstuff.name %>
  </p>

  <!-- 食品のイメージ画像 -->
  <p>
    <% if @foodstuff.image.present? %>
      <% @foodstuff.image.each do |img| %>
        <%= image_tag img.url, size: "100x100" %>
      <% end %>
    <% end %>
  </p>

  <!-- 食品へのアクション -->
  <div class="d-flex align-items-center user-actions-container">
    <%= render partial: 'user_actions/user_action', locals: { actionable: @foodstuff, action_type: 'bookmark' } %>
    <%= render partial: 'user_actions/user_action', locals: { actionable: @foodstuff, action_type: 'good' } %>
    <%= render partial: 'user_actions/user_action', locals: { actionable: @foodstuff, action_type: 'bad' } %>
  </div>

  <!-- 食品説明 -->
  <p>
    <strong><%= t('foodstuffs.show.description') %>:</strong>
    <%= @foodstuff.description %>
  </p>

  <!-- 価格 -->
  <p>
    <strong><%= t('foodstuffs.show.price') %>:</strong>
    <%= @foodstuff.price %>
  </p>

  <!-- 食品のリンク -->
  <p>
    <strong><%= t('foodstuffs.show.link') %>:</strong>
    <%= @foodstuff.link %>
  </p>
</div>

<!-- 関連レシピを投稿する -->
<%= link_to t('foodstuffs.show.post_recipe'), new_recipe_path(foodstuff_name: @foodstuff.name), class: 'btn btn-primary' %>

<!-- 食品の編集/削除 -->
<div class="d-flex align-items-center user-actions-container">
  <% if current_user == @foodstuff.user %>
    <%= link_to t('foodstuffs.edit_foodstuff'), edit_foodstuff_path(@foodstuff), class: 'btn btn-primary' %>
    <%= button_to t('foodstuffs.destroy_foodstuff'), @foodstuff, method: :delete, data: { turbo_confirm: t('foodstuffs.confirm_delete') }, class: 'btn btn-danger' %>
  <% end %>
</div>

<!-- コメント -->
<div class="comments-section mt-5">
  <h2 class="comments-title"><%= t('comments.title') %></h2>

  <!-- コメントリスト -->
  <div id="comments" class="comment-list mt-3">
    <%= turbo_frame_tag "comments_list" do %>
      <% @foodstuff.comments.each do |comment| %>
        <%= render "comments/comment", comment: comment %>
      <% end %>
    <% end %>
  </div>

  <!-- 新規コメント投稿フォーム -->
  <div class="new-comment-form mt-4">
    <h5 class="card-title form-title"><%= t('comments.form_title') %></h5>
    <div class="card p-4 comment-item">
      <%= turbo_frame_tag "new_comment" do %>
          <%= render "comments/form", commentable: @foodstuff, comment: Comment.new %>
      <% end %>
    </div>
  </div>
</div>


