<p style="color: green"><%= notice %></p>

<div class="foodstuff-header">
  <p>
    <strong><%= t('foodstuffs.show.name') %>:</strong>
    <%= @foodstuff.name %>
  </p>

  <p>
    <strong><%= t('foodstuffs.show.price') %>:</strong>
    <%= @foodstuff.price %>
  </p>

  <p>
    <strong><%= t('foodstuffs.show.description') %>:</strong>
    <%= @foodstuff.description %>
  </p>

  <p>
    <strong><%= t('foodstuffs.show.link') %>:</strong>
    <%= @foodstuff.link %>
  </p>

  <p>
    <strong><%= t('foodstuffs.show.image') %>:</strong>
    <% if @foodstuff.image.present? %>
      <% @foodstuff.image.each do |img| %>
        <%= image_tag img.url, size: "100x100" %>
      <% end %>
    <% end %>
  </p>
</div>

<%= link_to t('foodstuffs.show.post_recipe'), new_recipe_path(foodstuff_name: @foodstuff.name), class: 'btn btn-primary' %>

<div class="d-flex align-items-center user-actions-container">
  <%= render partial: 'user_actions/user_action', locals: { actionable: @foodstuff, action_type: 'bookmark' } %>
  <%= render partial: 'user_actions/user_action', locals: { actionable: @foodstuff, action_type: 'good' } %>
  <%= render partial: 'user_actions/user_action', locals: { actionable: @foodstuff, action_type: 'bad' } %>

  <%= link_to t('foodstuffs.back_to_list'), root_path, class: 'btn btn-secondary' %>
  <% if current_user == @foodstuff.user %>
    <%= link_to t('foodstuffs.edit_foodstuff'), edit_foodstuff_path(@foodstuff), class: 'btn btn-primary' %>
    <%= button_to t('foodstuffs.destroy_foodstuff'), @foodstuff, method: :delete, data: { turbo_confirm: t('foodstuffs.confirm_delete') }, class: 'btn btn-danger' %>
  <% end %>
</div>

<h2><%= t('comments.title') %></h2>
<div id="comments">
  <%= render @foodstuff.comments %> <!-- /comments/_comment.html.erb コメントの一覧表示、編集、削除機能 -->
</div>

<%= turbo_frame_tag "new_comment" do %>
  <%= render "comments/form", commentable: @foodstuff, comment: Comment.new %> <!-- /comments/_form.html.erb コメントの投稿 -->
<% end %>
