<!-- 投稿されたコメントの表示、編集、削除機能 -->
<%= turbo_frame_tag dom_id(comment) do %>
  <div id="comment-<%= comment.id %>" data-controller="comment">
    <p data-comment-target="body">
      <strong><%= comment.user.name %>:</strong>
      <%= comment.body %>
      <% if comment.user == current_user %>
        <%= link_to t('comments.edit'), '#', data: { action: 'comment#edit' } %> |
        <%= button_to t('comments.delete'), polymorphic_path([comment.commentable, comment]), method: :delete, data: { turbo_confirm: t('comments.confirm_delete') } %>
      <% end %>
    </p>

    <div data-comment-target="form" class="d-none">
      <%= form_with(model: [comment.commentable, comment], remote: true, data: { action: 'ajax:success->comment#handleAjaxResponse' }) do |form| %>
        <div class="field">
          <%= form.label :body, t('comments.body_label') %>
          <%= form.text_area :body, value: comment.body, required: true %>
        </div>
        <div class="actions">
          <%= form.submit t('comments.update') %>
          <%= link_to t('comments.cancel'), '#', data: { action: 'comment#cancel' } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
