<!-- 投稿されたコメントの表示、編集、削除機能 -->
<%= turbo_frame_tag dom_id(comment) do %>
  <div id="comment-<%= comment.id %>" data-controller="comment">
    <p data-comment-target="body">
      <strong><%= comment.user.name %>:</strong>
      <%= comment.body %>
      <% if comment.user == current_user %>
        <%= link_to '編集', '#', data: { action: 'comment#edit' } %> |
        <%= button_to url_for([@commentable, comment]), method: :delete, data: { 
          turbo_confirm: '本当に削除しますか？', 
          turbo_frame: dom_id(comment) 
        } do %>
          削除
          <%= hidden_field_tag :commentable_type, @commentable.class.name %>
          <%= hidden_field_tag :commentable_id, @commentable.id %>
        <% end %>
      <% end %>
    </p>

    <div data-comment-target="form" class="d-none">
      <%= form_with(model: [@commentable, comment], remote: true, data: { action: 'ajax:success->comment#handleAjaxResponse' }) do |form| %>
        <%= hidden_field_tag :commentable_type, @commentable.class.name %>
        <%= hidden_field_tag :commentable_id, @commentable.id %>
        <div class="field">
          <%= form.label :body, "コメント" %>
          <%= form.text_area :body, value: comment.body, required: true %>
        </div>
        <div class="actions">
          <%= form.submit "更新する" %>
          <%= link_to 'キャンセル', '#', data: { action: 'comment#cancel' } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
