<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, "レシピ名" %>
    <%= form.text_field :title, required: true %>
  </div>

  <div class="field">
    <%= form.label :dish_image, "完成写真" %>
    <%= form.file_field :dish_image, required: true %>
  </div>

  <h3>調理工程</h3>
  <%= form.fields_for :recipe_steps do |step_form| %>
    <div class="field">
      <%= step_form.label :text, "工程" %>
      <%= step_form.text_area :text %>
    </div>

    <div class="field">
      <%= step_form.label :step_image, "工程写真" %>
      <%= step_form.file_field :step_image %>
    </div>
  <% end %>

  <h3>必要な調理器具</h3>
  <%= form.fields_for :recipe_kitchen_tools do |tool_form| %>
    <div class="field">
      <%= tool_form.label :kitchen_tool_name, "調理器具" %>
      <%= tool_form.text_field :kitchen_tool_name, value: tool_form.object.kitchen_tool_name %>
    </div>
  <% end %>

  <h3>用意する材料+調味料</h3>
  <%= form.fields_for :recipe_ingredients do |ingredient_form| %>
    <div class="field">
      <%= ingredient_form.label :ingredient_name, "材料" %>
      <%= ingredient_form.text_field :ingredient_name, value: ingredient_form.object.ingredient_name %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit "保存" %>
  </div>
<% end %>
