<div id="<%= dom_id(recipe) %>" data-controller="actions">
  <p>
    <strong><%= t('activerecord.attributes.recipe.title') %>:</strong>
    <%= link_to recipe.title, recipe %>
  </p>

  <p>
    <%= link_to (image_tag(recipe.dish_image.url, size: "250x250") if recipe.dish_image.present?), recipe %>
  </p>

  <%= render partial: 'user_actions/user_action', locals: { actionable: recipe, action_type: 'bookmark' } %> <!-- レシピのブックマークアクションを表示 -->
  <%= render partial: 'user_actions/user_action', locals: { actionable: recipe, action_type: 'good' } %> <!-- レシピのgoodアクションを表示 -->
  <%= render partial: 'user_actions/user_action', locals: { actionable: recipe, action_type: 'bat' } %> <!-- レシピのbatアクションを表示 -->
</div>
