<!-- フラッシュメッセージ -->
<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<div class="recipe-show">
  <div class="recipe-header">
    <!-- レジピ名 -->
    <p>
      <strong><%= t('recipes.show.title') %>:</strong>
      <%= @recipe.title %>
    </p>

    <!-- レシピ画像 -->
    <p>
      <%= image_tag @recipe.dish_image.url, size: "100x100" if @recipe.dish_image.present? %>
    </p>
  </div>

  <!-- レシピへのアクション -->
  <div class="d-flex align-items-center user-actions-container">
    <%= render partial: 'user_actions/user_action', locals: { actionable: @recipe, action_type: 'bookmark' } %>
    <%= render partial: 'user_actions/user_action', locals: { actionable: @recipe, action_type: 'good' } %>
    <%= render partial: 'user_actions/user_action', locals: { actionable: @recipe, action_type: 'bad' } %>
  </div>

  <div class="recipe-section">
    <!-- 調理工程 -->
    <h3><%= t('recipes.show.steps') %></h3>
    <% @recipe.recipe_steps.each do |step| %>
      <div class="recipe-step">
        <p>
          <strong><%= t('recipes.form.step') %>:</strong>
          <%= step.text %>
        </p>
        <% if step.step_image.present? %>
          <!-- 調理工程の画像 -->
          <p>
            <%= image_tag step.step_image.url, size: "100x100" %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- 必要な調理器具 -->
  <div class="recipe-section">
    <h3><%= t('recipes.show.kitchen_tools') %></h3>
    <ul>
      <% @recipe.kitchen_tools.each do |tool| %>
        <li><%= tool.name %></li>
      <% end %>
    </ul>
  </div>

  <!-- 必要な材料 -->
  <div class="recipe-section">
    <h3><%= t('recipes.show.ingredients') %></h3>
    <ul>
      <% @recipe.ingredients.each do |ingredient| %>
        <li><%= ingredient.name %></li>
      <% end %>
    </ul>
  </div>

  <!-- レシピの編集/削除 -->
  <div class="d-flex align-items-center user-actions-container">
    <% if @recipe.user == current_user %>
      <%= link_to t('recipes.edit.title'), edit_recipe_path(@recipe), class: 'btn btn-primary' %>
      <%= button_to t('recipes.show.destroy_recipe'), recipe_path(@recipe), method: :delete, data: { turbo_confirm: t('recipes.show.confirm_delete') }, class: 'btn btn-danger' %>
    <% end %>
  </div>

  <!-- 投稿されたトッピング -->
  <% if user_signed_in? %>
    <h3><%= t('recipes.show.toppings') %></h3>
    <%= form_with(model: [@recipe, Topping.new], url: add_topping_recipe_path(@recipe), data: { turbo_frame: "_top" }, local: true) do |form| %>
      <div class="form-group">
        <%= form.label :name, t('recipes.show.toppings') %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
      <%= form.submit t('recipes.show.add_topping'), class: "btn btn-primary" %>
    <% end %>

    <!-- トッピングに対するアクション -->
    <ul id="toppings">
      <% @recipe.toppings.each do |topping| %>
        <li id="topping_<%= topping.id %>" class="d-flex align-items-center">
          <div class="mr-2"><%= topping.name %></div>
          <div class="mr-2"><%= render partial: 'user_actions/user_action', locals: { actionable: topping, action_type: 'good', parent: @recipe } %></div>
          <div class="mr-2"><%= render partial: 'user_actions/user_action', locals: { actionable: topping, action_type: 'bad', parent: @recipe } %></div>
          <% if topping.user == current_user %>
            <div><%= button_to t('recipes.topping.delete'), remove_topping_recipe_path(@recipe, topping_id: topping.id), method: :delete, data: { turbo_confirm: t('recipes.show.confirm_delete') }, remote: true, class: "btn btn-danger" %></div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <!-- コメント -->
  <h2><%= t('recipes.show.comment_section_title') %></h2>
  <div id="comments">
    <%= render @recipe.comments %> <!-- /comments/_comment.html.erb -->
  </div>

  <%= turbo_frame_tag "new_comment" do %>
    <%= render "comments/form", commentable: @recipe, comment: Comment.new %>  <!-- /comments/_form.html.erb -->
  <% end %>
</div>
