<%= render 'sidebar' %>

<h1>マイページ</h1>

<div class="main-content">
  <div class="content">
    <h2>ユーザー名</h2>
    <p><%= @user.name %></p>

    <h2>メールアドレス</h2>
    <p><%= @user.email %></p>

    <h2>持っている調理器具</h2>
    <% if @kitchen_tools.present? %>
      <ul>
        <% @kitchen_tools.each do |tool| %>
          <li><%= tool.name %></li>
        <% end %>
      </ul>
    <% else %>
      <p>調理器具はまだ登録されていません。</p>
    <% end %>

    <%= link_to "編集", edit_user_path(@user), class: 'btn btn-primary mt-3' %>
  </div>
</div>
