<% content_for(:title, "米炊きチュートリアル") %>

<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h2>目次</h2>
      <ul class="list-group mb-4">
        <li class="list-group-item"><a href="#rice-cooker">炊飯器</a></li>
        <li class="list-group-item"><a href="#microwave">電子レンジ</a></li>
      </ul>
    </div>
    <div class="col-12">
      <h2 id="rice-cooker">炊飯器</h2>
      <p>ここでは炊飯器を使ったご飯の炊き方について説明します。</p>
      <h3>工程</h3>
      <ol class="list-group list-group-numbered">
        <li class="list-group-item">
          米を計量します。箸などを使ってすりきり一杯になるように量ります。
          <img src="<%= asset_path('rice-cooker-step1.jpg') %>" alt="米を軽量工程" class="img-fluid mt-2">
        </li>
        <li class="list-group-item">
          米をとぎます。ボウルに米が浸かるくらいの水を一気に加え、さくっとかき混ぜたら、素早く捨てます。
          <img src="<%= asset_path('rice-cooker-step2.jpg') %>" alt="洗米工程１" class="img-fluid mt-2">
        </li>
        <li class="list-group-item">
          再び米が浸かるまで水を入れたら、少し水を捨てます。
          水が少なくなった状態で、手のひらで米全体を軽く握るように20回程度かき回します。
          <img src="<%= asset_path('rice-cooker-step3.jpg') %>" alt="洗米工程２" class="img-fluid mt-2">
        </li>
        <li class="list-group-item">
          水を入れて、軽くかき混ぜ、捨てることを２～３回繰り返し、写真のように水が濁らなくなったら米とぎ完了です。
          <img src="<%= asset_path('rice-cooker-step4.jpg') %>" alt="米を洗う工程" class="img-fluid mt-2">
        </li>
        <li class="list-group-item">
          米を炊飯器の釜に移し、釜の目盛（今回は２合）に合わせて水を入れます。
          炊飯器のスタートボタンを押して、炊き上がりまで待ちます。
          <img src="<%= asset_path('rice-cooker-step5.jpg') %>" alt="炊飯器に米と水を入れる工程" class="img-fluid mt-2">
        </li>
        <li class="list-group-item">
          炊き上がりの合図があったら、炊飯器の蓋を開けます。
          <img src="<%= asset_path('rice-cooker-step6.jpg') %>" alt="米を洗う工程" class="img-fluid mt-2">
        </li>
        <li class="list-group-item">
          しゃもじで全体を切るようにほぐし、ごはん粒の表面についた水分を飛ばします。
          <img src="<%= asset_path('rice-cooker-step7.jpg') %>" alt="炊飯器に米と水を入れる工程" class="img-fluid mt-2">
        </li>
      </ol>
    </div>
    <div class="col-12 mt-5">
      <h2 id="microwave">電子レンジ</h2>
      <p>ここでは電子レンジを使ったご飯の炊き方について説明します。</p>
      <h3>工程</h3>
      <ol class="list-group list-group-numbered">
        <li class="list-group-item">
          米を計量して洗う
          <img src="<%= asset_path('microwave-step1.jpg') %>" alt="米を洗う工程" class="img-fluid mt-2">
        </li>
        <li class="list-group-item">
          耐熱容器に米と適量の水を入れる
          <img src="<%= asset_path('microwave-step2.jpg') %>" alt="耐熱容器に米と水を入れる工程" class="img-fluid mt-2">
        </li>
        <li class="list-group-item">
          電子レンジで加熱する
          <img src="<%= asset_path('microwave-step3.jpg') %>" alt="電子レンジで加熱する工程" class="img-fluid mt-2">
        </li>
        <li class="list-group-item">
          米を計量して洗う
          <img src="<%= asset_path('microwave-step4.jpg') %>" alt="米を洗う工程" class="img-fluid mt-2">
        </li>
        <li class="list-group-item">
          米を計量して洗う
          <img src="<%= asset_path('microwave-step5.jpg') %>" alt="米を洗う工程" class="img-fluid mt-2">
        </li>
        <li class="list-group-item">
          米を計量して洗う
          <img src="<%= asset_path('microwave-step6.jpg') %>" alt="米を洗う工程" class="img-fluid mt-2">
        </li>
        <li class="list-group-item">
          米を計量して洗う
          <img src="<%= asset_path('microwave-step7.jpg') %>" alt="米を洗う工程" class="img-fluid mt-2">
        </li>
      </ol>
    </div>
  </div>
</div>
