<% content_for(:title, t('cookrice.title')) %>

<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h2><%= t('cookrice.table_of_contents') %></h2>
      <ul class="list-group mb-4">
        <li class="list-group-item"><a href="#rice-cooker"><%= t('cookrice.rice_cooker') %></a></li>
        <li class="list-group-item"><a href="#microwave"><%= t('cookrice.microwave') %></a></li>
      </ul>
    </div>
    <div class="col-12">
      <h2 id="rice-cooker"><%= t('cookrice.rice_cooker') %></h2>
      <p><%= t('cookrice.description_rice_cooker') %></p>
      <h3><%= t('cookrice.steps') %></h3>
      <ol class="list-group list-group-numbered">
        <li class="list-group-item">
          <%= t('cookrice.step1') %>
          <img src="<%= asset_path('rice-cooker-step1.jpg') %>" alt="<%= t('cookrice.step1_image_alt') %>" class="img-fluid mt-2">
        </li>
        <li class="list-group-item">
          <%= t('cookrice.step2') %>
          <img src="<%= asset_path('rice-cooker-step2.jpg') %>" alt="<%= t('cookrice.step2_image_alt') %>" class="img-fluid mt-2">
        </li>
        <li class="list-group-item">
          <%= t('cookrice.step3') %>
          <img src="<%= asset_path('rice-cooker-step3.jpg') %>" alt="<%= t('cookrice.step3_image_alt') %>" class="img-fluid mt-2">
        </li>
        <li class="list-group-item">
          <%= t('cookrice.step4') %>
          <img src="<%= asset_path('rice-cooker-step4.jpg') %>" alt="<%= t('cookrice.step4_image_alt') %>" class="img-fluid mt-2">
        </li>
        <li class="list-group-item">
          <%= t('cookrice.step5') %>
          <img src="<%= asset_path('rice-cooker-step5.jpg') %>" alt="<%= t('cookrice.step5_image_alt') %>" class="img-fluid mt-2">
        </li>
        <li class="list-group-item">
          <%= t('cookrice.step6') %>
          <img src="<%= asset_path('rice-cooker-step6.jpg') %>" alt="<%= t('cookrice.step6_image_alt') %>" class="img-fluid mt-2">
        </li>
        <li class="list-group-item">
          <%= t('cookrice.step7') %>
          <img src="<%= asset_path('rice-cooker-step7.jpg') %>" alt="<%= t('cookrice.step7_image_alt') %>" class="img-fluid mt-2">
        </li>
      </ol>
    </div>
    <div class="col-12 mt-5">
      <h2 id="microwave"><%= t('cookrice.microwave') %></h2>
      <p><%= t('cookrice.description_microwave') %></p>
      <h3><%= t('cookrice.steps') %></h3>
      <ol class="list-group list-group-numbered">
        <li class="list-group-item">
          <%= t('cookrice.microwave_step1') %>
          <img src="<%= asset_path('microwave-step1.jpg') %>" alt="<%= t('cookrice.microwave_step1_image_alt') %>" class="img-fluid mt-2">
        </li>
        <li class="list-group-item">
          <%= t('cookrice.microwave_step2') %>
          <img src="<%= asset_path('microwave-step2.jpg') %>" alt="<%= t('cookrice.microwave_step2_image_alt') %>" class="img-fluid mt-2">
        </li>
        <li class="list-group-item">
          <%= t('cookrice.microwave_step3') %>
          <img src="<%= asset_path('microwave-step3.jpg') %>" alt="<%= t('cookrice.microwave_step3_image_alt') %>" class="img-fluid mt-2">
        </li>
        <li class="list-group-item">
          <%= t('cookrice.microwave_step4') %>
          <img src="<%= asset_path('microwave-step4.jpg') %>" alt="<%= t('cookrice.microwave_step4_image_alt') %>" class="img-fluid mt-2">
        </li>
        <li class="list-group-item">
          <%= t('cookrice.microwave_step5') %>
          <img src="<%= asset_path('microwave-step5.jpg') %>" alt="<%= t('cookrice.microwave_step5_image_alt') %>" class="img-fluid mt-2">
        </li>
        <li class="list-group-item">
          <%= t('cookrice.microwave_step6') %>
          <img src="<%= asset_path('microwave-step6.jpg') %>" alt="<%= t('cookrice.microwave_step6_image_alt') %>" class="img-fluid mt-2">
        </li>
        <li class="list-group-item">
          <%= t('cookrice.microwave_step7') %>
          <img src="<%= asset_path('microwave-step7.jpg') %>" alt="<%= t('cookrice.microwave_step7_image_alt') %>" class="img-fluid mt-2">
        </li>
      </ol>
    </div>
  </div>
</div>
