<% content_for(:title, "入口") %>
<p>Home#top</p>

<% content_for :left do %>
  <h1>左側のコンテンツ</h1>
  <p>ここに左側のコンテンツを配置します。</p>
<% end %>

<% content_for :right do %>
  <h1>右側のコンテンツ</h1>
  <p>ここに右側のコンテンツを配置します。</p>
<% end %>

<% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
  <!-- ユーザーがログインしていた時の処理 -->

  <h4> 名前： <%= current_user.name %> </h4>
  <h4> メールアドレス： <%= current_user.email %> </h4>
  <%= link_to "ログアウト", destroy_user_session_path, method: :get %> <!-- ログアウトをする -->
<% else %>
  <!-- ユーザーがログインしていなかった時の処理 -->
  <h2> 現在ログインしていません </h2>
  <%= link_to "ログイン", new_user_session_path, class: 'post' %> <!-- ログイン画面に移行する -->
  <%= link_to "新規登録", new_user_registration_path, class: 'post' %> <!-- 新規登録画面に移行する -->
<% end %>