<% content_for(:title, t('home.top.title')) %>

<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link <%= 'active' if @view == 'both' %>" href="<%= root_path %>">
      <%= t('home.top.both') %>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if @view == 'recipes' %>" href="<%= recipes_view_path %>">
      <%= t('home.top.recipes') %>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if @view == 'foodstuffs' %>" href="<%= foodstuffs_view_path %>">
      <%= t('home.top.foodstuffs') %>
    </a>
  </li>
</ul>

<div class="row">
  <% if user_signed_in? %>
    <div class="col-md-3">
      <%= render 'home/sidebar' %>
    </div>
    <div class="col-md-9">
  <% else %>
    <div class="col-md-12">
  <% end %>

  <div class="row">
    <% if @view == 'both' || @view == 'recipes' %>
      <div class="col-md-6">
        <h1><%= t('recipes.index.title') %></h1>
        <div id="recipes">
          <% if @recipes.present? %>
            <% @recipes.each do |recipe| %>
              <%= render recipe %>
            <% end %>
            <%= paginate @recipes %>
          <% else %>
            <p><%= t('recipes.index.no_results') %></p>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if @view == 'both' || @view == 'foodstuffs' %>
      <div class="col-md-6">
        <h1><%= t('foodstuffs.index.title') %></h1>
        <div id="foodstuffs">
          <% if @foodstuffs.present? %>
            <% @foodstuffs.each do |foodstuff| %>
              <%= render foodstuff %>
            <% end %>
            <%= paginate @foodstuffs %>
          <% else %>
            <p><%= t('foodstuffs.index.no_results') %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
