<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path %>">MyApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to '米炊きチュートリアル', cookrice_path, class: 'nav-link' %>
      </li>
    </ul>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <span class="navbar-text">
            名前： <%= link_to current_user.name, profile_path  %>
          </span>
        </li>
        <li class="nav-item">
          <%= link_to t('レシピ投稿'), new_recipe_path, class: 'btn btn-outline-danger ml-2' %>
        </li>
        <li class="nav-item">
          <%= link_to t('foodstuffs.index.new_foodstuff'), new_foodstuff_path, class: 'btn btn-outline-danger ml-2' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
    <%= form_with url: root_path, method: :get, local: true, class: "form-inline my-2 my-lg-0 ml-auto" do |form| %>
      <%= hidden_field_tag :view, @view %>
      <div class="input-group">
        <%= form.search_field :query, class: "form-control", placeholder: "検索", aria: { label: "検索" } %>
        <div class="input-group-append">
          <%= form.submit "検索", class: "btn btn-outline-success" %>
        </div>
      </div>
    <% end %>
  </div>
</nav>
