<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <!-- ヘッダーの内容 -->
      <%= render 'layouts/header' %>
    </header>

    <div class="container">
      <%= yield %>
    </div>
    <div class="container">
      <div class="left-side">
        <%= yield :left %>
      </div>
      <div class="right-side">
        <%= yield :right %>
      </div>
    </div>
    <footer>
      <!-- フッターの内容 -->
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>